RewriteEngine On
RewriteCond %{REQUEST_URI} !^/css
RewriteCond %{REQUEST_URI} !^/js
RewriteCond %{REQUEST_URI} !^/img
RewriteCond %{REQUEST_URI} !=/router.php
RewriteRule ^ /router.php?uri=%{REQUEST_URI}
